@mixin std-box ($width, $padding) {
  width: $width;
  border: none;
  padding: $padding;
}

@mixin std-img () {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  max-width: 100%; 
}

@mixin std-col ($col-color, $flex-basis) {
  &.theme {
    background-color: $col-color;
  }
  @media (min-width: $tablet-size){
    flex-basis: $flex-basis;
  }
}

@mixin std-btm ($btn-color, $light-val:15%) {
  transition: background-color 1s;
  &:hover {
    background-color: lighten($btn-color, $light-val);
  }
}