$main-font-color: #777;
$font-light-color: #fff;
$primary-color: #58e1c1;
$secundary-color: #51ddfc;
$info-color: #927bc1;
$error-color: #e4757a;
$success-color: #63cc82;
$warning-color: #fd7856;

$tablet-size: 768px;